main{
    width: 100%;
    height: 100%;
    border: 2px solid red;
    color:white;
    margin: 20px;
    padding: 20px;
    font-family:"Kdam Thmor Pro", sans-serif ;
}

.itens{
   width: 100%;
   height: 100%;
   padding: 20px;
   display: grid;
   grid-template-columns:  1fr 1fr 1fr;
   font-size: 20px;
}
.conteiner-esquerdo{
    width: 100%;
    height: 100%;
    background-color: green;
    border: 2px solid white;
}
.conteiner-centro{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    border: 2px solid white;
    display: flex;
    
}
.conteiner-direito{ 
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
}
.item-direita{ 
    width: 100%;
    height: 100%;
    max-width: 800px;
    justify-content: center;
    display: grid;
    grid-template-rows: 80px auto 60px auto 0.4fr ;
}
.item-direita1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    flex-wrap: nowrap;
}
icone1>img{
    width: 20px;
    height:20px;
}
.item-direita2{ 
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
    
    justify-self: center;
}
icone2{
    display: flex;
    flex:1 1 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 80px;
    max-height: 100px;
}
icone2>img{
    max-width:100%;
    max-height: 100%;
    display: block;
}

.item-direita3{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: end;
}
.item-direita3>div{
    display: flex;
    align-items: end;
}
.item-direita3>div>h2{
    font-size: 30px;
    padding: 0 30px 0 30px;
}
icone3{
    width: 60px;
    height: 60px;
}
icone3>img{
    width:60px;
    height:60px;
}
.item-direita4{ 
    width: 100%;
    height: 100%;
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    
}
icone4>img{
    display: flex;
    flex:1 1 50px;
    width: 100%;
    height: 100%;
    min-width: 50px;
    max-height: 100px;
}
.item-direita4>h3{ 
    height: auto;
    width: 100%;
    font-size: 18px;
    flex-wrap: wrap;
    text-align: justify;
    background-color: gray;
    max-width: 400px;
    margin: 0 10px 0 10px;
}   

.item-direita5{
    width: 100%;
    height:100%;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.item-direita5>div{
    margin: 0 20px 0 20px;
    display:flex;
    flex-direction: column;
}
.item-direita5>div>img{
    width: 100%;
    height:100%;
    max-width: 200px;
    min-width: 80px;
}

/*
.item {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#item1 {
    animation-name: moveFromLeft;
}

#item2 {
    animation-name: moveFromRight;
}

@keyframes moveFromLeft {
    from {
        left: -50px;
    }
    to {
        left: calc(50% - 25px);
    }
}

@keyframes moveFromRight {
    from {
        right: -50px;
    }
    to {
        right: calc(50% - 25px);
    }
} */


