main{
    width: 100%;
    height: 100%;
    background-color: wheat;
    border: 2px solid white;
    color:white;
    font-size:30px;
}
img{
    width: 300px;
    max-height: 200px;
    display: block;
}
.container{
    width: 100%;
    height: 100%;
    padding: 15px;
    background: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid white;
}
.item{
   
}
.item-esquerda{
    background-color: green;

}
.item-centro{
    background-color: blueviolet;
}

.item-direita{
    /* background-color: white; */
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 2fr 2fr ;
    
    height: 100%;
    width: 100%;
    border: 2px solid red;
}
.item-direita1{
    width:100%;
    height:100%;
    padding:20px;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-wrap: nowrap;
}
icone1>img{
    width: 40px;
    height: 40px;
}
.item-direita2{
    border:2px solid white;
    width: 100%;
    height:100%;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    
}
icone2{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}

icone2>img{
    flex: 1 1 50px;
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;      
}




















/* 
.item-direita4 > img{
    width: 100px;
    height: 100px;
    }
.item-direita4>div{
    
    
    text-align: justify;
    padding: 10px 20px;
    background-color:grey;
    font-size: 30px;
}
.dir-item{
    height: auto;
    width: auto;   
    background-color: aquamarine;
    margin: 10px;
}
p{
    display: flex;
    justify-content: center;
    font-size: 40px;
} */